<?xml version="1.0" encoding="utf-8"?>
<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap rescap">
  <Identity Name="imyemail-cloud" Publisher="CN=imy.email" Version="0.2.4.0" />
  <Properties>
    <DisplayName>imyemail-cloud-native</DisplayName>
    <PublisherDisplayName>imy.email</PublisherDisplayName>
    <Logo>Images\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.22621.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="$targetentrypoint$">
      <uap:VisualElements
        DisplayName="imyemail-cloud-native"
        Description="Native mail, everywhere."
        BackgroundColor="transparent"
        Square150x150Logo="Images\Square150x150Logo.png"
        Square44x44Logo="Images\Square44x44Logo.png">
         <uap:DefaultTile
           Square71x71Logo="Images\Square71x71Logo.png"
           Wide310x150Logo="Images\Wide310x150Logo.png"
           Square310x310Logo="Images\Square310x310Logo.png" />
         <uap:SplashScreen Image="Images\SplashScreen.png" BackgroundColor="#3D6BFE" />
      </uap:VisualElements>
      <Extensions>
        <uap:Extension Category="windows.protocol">
          <uap:Protocol Name="mailto" />
        </uap:Extension>
        <uap:Extension Category="windows.protocol">
          <uap:Protocol Name="imyemailcloud" />
        </uap:Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
    <Capability Name="internetClient" />
  </Capabilities>
</Package>
