.build/
.build-ios/
.swiftpm/
*.xcodeproj
.DS_Store
dist/
Native/macos/
Native/ios/
Native/ios-sim/
Sources/ChckAppCore/Resources/libchck_mail.dylib
.build-ios-app/
.build-ios-results/
.build-ios-devices.json
.build-ios-simulator/
Native/iphoneos/
Native/iphonesimulator/

.build-ios-device/
